# For LaTeX
*.amc
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.log
*.nav
*.out
*.run.xml
*.snm
*.spl
*.synctex.gz
*.tdo
*.toc
*.vrb
*.vtc
.kile

# NOTE: might be enabled or disabled depending on the context
*.pdf
